* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
}

/* *Grid container */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "Head Head Head"
    "Main Main Main"
    "Footer Footer Footer";
}

/* *Grid Head */

.header {
  grid-area: Head;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: #1c1c1c;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 5%;
}

.header li, a {
    display: inline-block;
    padding: 0px 20px;
    font-weight: 500;
    font-size: 16px;
    color: #f2f2f2;
    transition: all 0.3s ease 0s;
}

.header a:hover {
    color: #9DA3A4;
}

/* *Grid Main */
.main {
  box-sizing: border-box;
  display: flex;
  grid-area: Main;
  height: 80vh;
  width: 100vw;
}

/* *Contact Form */

form { 
  max-width:420px; 
  margin:50px auto; 
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:#9DA3A4;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color: #1c1c1c;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:-5px;
}

/* *Grid Footer */

.footer {
    grid-area: Footer;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 5rem;
    background-color: #1c1c1c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 5%;
}

.footer li, a {
    display: inline-block;
    padding: 0px 20px;
    font-size: 16px;
    color: #f2f2f2;
    transition: all 0.3s ease 0s;
}

.footer a:hover {
    color: #9DA3A4;
}

/* *Home Art */

.home-art {
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 10px solid #61dafb;
}
.home-art {
  background: radial-gradient(circle, #61dafb 24px);
  position: relative;
}