/* 
Tag & Naming Markdown:
  ! = Global or Parent Elements
  ? = Child Elements
  * = Explanation of Code

    - an = about-nested | A nested grid within the About Page's Main Grid
    - pn = portfolio-nested | A nested grid within the Portfolio's Main Grid
*/
/* !-------------------------Global Rules */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 16px;
}

body {
  background-color: #f2f2f2;
}

/* !-------------------------Grid container */
.grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "Head Head Head"
    "Main Main Main"
    "Footer Footer Footer";
}

/* !-------------------------Grid Head */

.header {
  grid-area: Head;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: #1c1c1c;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 5%;
}

.header-li-nav,
.header-a-nav {
  display: inline-block;
  padding: 1rem;
  font-weight: 500;
  color: #f2f2f2;
  transition: all 0.3s ease 0s;
}

.header-a-nav:hover {
  color: #9da3a4;
}

/* ?---------------Nested Head Grid */

.header-nested {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  grid-template-areas: "Header-Nav-Links Nav-Contact";
}

.header-nav-links {
  display: flex;
  grid-area: Header-Nav-Links;
  justify-content: flex-start;
  align-items: center;
}
.header-nav-contact {
  display: flex;
  grid-area: Nav-Contact;
  justify-content: flex-end;
  align-items: center;
}

/* !-------------------------Grid Main */
.main {
  box-sizing: border-box;
  display: grid;
  flex-wrap: wrap;
  grid-area: Main;
  height: 80vh;
  width: 100vw;
}

/* ?---------------Nested Home Grid */

.home-nested {
  display: grid;
  width: 100%;
}

.home-h1 {
  display: flex;
  color: #1c1c1c;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.home-p {
  display: flex;
  text-decoration: none;
  color: #1c1c1c;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.home-img {
  width: 250px;
  justify-self: center;
  align-self: center;
  border: 0 0 0 0;
  border-radius: 50%;
  border: 3px solid #1c1c1c;
}

/* ?---------------Nested About Grid */

.about-nested {
  display: grid;
  width: 100%;
}

.about-p {
  display: flex;
  text-decoration: none;
  color: #1c1c1c;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* !-------------------------Contact Form */

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: #1c1c1c;
  font-family: Helvetica, Arial, sans-serif;
  background-color: transparent;
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: #9da3a4;
  border: 0;
  cursor: pointer;
  color: #1c1c1c;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -5px;
}

.contact-form-btn {
  width: 100%;
  background: #9da3a4;
  border-radius: 5px;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -5px;
}

/* !-------------------------Grid Footer */

.footer {
  grid-area: Footer;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: #1c1c1c;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-li-nav,
.footer-a-nav {
  display: inline-flex;
  color: #f2f2f2;
  transition: all 0.3s ease 0s;
}

.footer-copyright {
  display: inline-flex;
  color: #f2f2f2;
}

.footer-a-nav:hover {
  color: #9da3a4;
}

/* ?---------------Nested Footer Grid */

.footer-nested {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-template-areas:
    "Footer-Nav-Links"
    "Copyright";
}
.footer-nav-links {
  display: flex;
  grid-area: Footer-Nav-Links;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  display: flex;
  grid-area: Copyright;
  justify-content: center;
  align-items: center;
}

/* !-------------------------Media Queries */

@media (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "Head"
      "Main"
      "Footer";
  }
  .header {
    height: 5rem;
  }
  .header-nested {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Header-Nav-Links" "Nav-Contact";
  }
  .header-nav-links {
    flex-direction: column;
  }
  .header-li-nav {
    padding: 1px;
  }
  .header-a-nav {
    padding: 1px;
  }
  .header-nav-contact {
    flex-direction: column;
  }
  .main {
    height: auto;
  }
  .home-h1 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
  }
  .home-p {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
  }
  #form {
    padding: 1.5rem;
    width: 200px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "Head Head"
      "Main Main"
      "Footer Footer";
  }

  .header {
    height: 5rem;
  }
  .header-nested {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Header-Nav-Links" "Nav-Contact";
  }
  .header-nav-links {
    flex-direction: column;
  }
  .header-li-nav {
    padding: 1px;
  }
  .header-a-nav {
    padding: 1px;
  }
  .header-nav-contact {
    flex-direction: column;
  }
  .main {
    height: auto;
  }
  .home-h1 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
  }
  .home-p {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
  }
  #form {
    padding: 1.5rem;
    width: 200px;
  }
 }

@media (min-width: 992px) and (max-width: 1199px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "Head Head Head "
      "Main Main Main"
      "Footer Footer Footer";
  }
  .main {
    height: auto;
  }
  .home-h1 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
  }
  .home-p {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "Head Head Head "
      "Main Main Main"
      "Footer Footer Footer";
  }
}